# Requirements for the project
# Created by M. Massenzio, 2024-02-29

accelerate
# Fork of the decord library to support Apple Silicon (ARM) architecture
eva-decord
gradio
ipython
jupyter
numpy
opencv-python
pandas
Pillow
requests
torch
transformers
