# Requirements for the project
# Created by M. Massenzio, 2024-02-29

accelerate
# Fork of the decord library to support Apple Silicon (ARM) architecture
eva-decord
gradio
huggingface_hub
ipython
jupyter
langchain
langchain-openai
llama_index
numpy
opencv-python
pandas
Pillow
pypdf
requests
torch
transformers
